html, 
body {
	margin: 0;
	padding: 0;
	height: 100%;
}


.raw-path {
  stroke: orange;
  fill: transparent; 
  stroke-width: 10;
}

.simple-path {
  stroke: black;
  fill: transparent; 
  stroke-width: 2;
}